<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>html,css,js-test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="./css/index.css" />
    <script type="text/javascript" src="./plugin/jquery/jquery.js"></script>
    <script type="text/javascript" src="./plugin/angularjs/angular.js"></script>
    <script type="text/javascript" src="./plugin/util/util.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('ctrl', function($scope) {
            $scope.data = [{
                id: 1,
                show: false,
                name: 'aaa'
            }, {
                id: 2,
                show: false,
                name: 'bbb'
            }];
            $scope.show = function(e, f) {
                $(e.currentTarget).next('div').show();
            };
            $scope.hide = function(e, f) {
                $(e.currentTarget).parent('div').hide();
            };
        });
    </script>
</head>

<body ng-app="app" ng-controller="ctrl">
    <div ng-repeat="item in data">
        <input type="text" ng-focus="show($event,item)" ng-model="item.name" />
        <div style="display: none;">
            <div ng-click="hide($event,f)">&times;</div>
            <textarea ng-model="item.name"></textarea>
        </div>
    </div>
</body>

</html>