<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>html,css,js-test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="./plugin/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <script type="text/javascript" src="./plugin/jquery/jquery.js"></script>
    <script type="text/javascript" src="./plugin/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="./plugin/echarts/echarts.js"></script>
    <script type="text/javascript" src="./plugin/util/util.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</head>

<body style="background:#031f3e">
    <div class="wrapper">
        <div class="left">
            <div id="map" style="width:100%;height:100%;"></div>
        </div>
        <div class="right">
            <div>
                <div>国六</div>
                <div>新能源</div>
                <div>车队</div>
            </div>
            <div>
                <div>中通</div>
                <div>汽研</div>
            </div>
            <div>
                <div>
                    <div>数据</div>
                    <div id="data" style="width:100%;height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8" style="padding:0;">

            </div>
            <div class="col-xs-4">

            </div>
        </div>
    </div> -->

    <!-- <div class="wrapper">
        <div class="panel testing-g6-1">
            <div class="testing-vin">
                <app-vin [(vin)]="searchModel.vin" [(vid)]="searchModel.vid"></app-vin>
            </div>
            <button nz-button (click)="startG6Testing()"><i nz-icon nzType="play-circle" nzTheme="twotone" nzTwotoneColor="green"></i>开始</button>
            <button nz-button (click)="stopG6Testing()"><i nz-icon nzType="stop" nzTheme="twotone" nzTwotoneColor="red"></i>停止</button>
        </div>
        <div class="panel testing-g6-2">
            <div class="testing-title">基本信息</div>
            <div class="testing-content">
                <div>VID：{{vehInfo.vid}}</div>
                <div>VIN：{{vehInfo.vin}}</div>
                <div>车牌号码：{{vehInfo.vehNo}}</div>
                <div>车牌颜色：{{vehInfo.vehNoColor|vehColor}}</div>
                <div>行政区划：{{vehInfo.xzqh|xzqh2}}</div>
                <div>能源类型：{{vehInfo.power|vehPower}}</div>
                <div>发动机最大基准扭矩：{{vehInfo.torque}}</div>
                <div>SIM卡号：{{vehInfo.simCode}}</div>
                <div>终端编号：{{vehInfo.dtuCode}}</div>
                <div>发动机编号：{{vehInfo.engCode}}</div>
                <div>添加时间：{{vehInfo.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
        </div>
        <div class="panel testing-g6-3">
            <div class="testing-title">OBD数据</div>
            <div class="testing-fit">
                <div class="testing-content">
                    <div>OBD诊断协议：{{vehObd.obdProtocol==254?'无效':vehObd.obdProtocol}}</div>
                    <div>MIL状态：{{vehObd.milState==254?'无效':vehObd.milState}}</div>
                    <div>诊断支持状态：{{vehObd.supportState}}</div>
                    <div>诊断就绪状态：{{vehObd.readyState}}</div>
                    <div>车辆识别码：{{vehObd.vin}}</div>
                    <div>软件标定识别号：{{vehObd.softwareId}}</div>
                    <div>标定验证码：{{vehObd.cvn}}</div>
                    <div>IUPR值：{{vehObd.iupr}}</div>
                    <div>故障码总数：{{vehObd.faultNum==254?'无效':vehObd.faultNum}}</div>
                </div>
                <div class="testing-subtitle">监控器状态</div>
                <div class="testing-content">
                    <div class="testing-half" *ngFor="let item of g6Service.obdStateOptions">{{item.label}}：<span [ngStyle]="{'color':item.value=='不支持'?'red':item.value=='未完成'?'yellow':'green'}">{{item.value}}</span></div>
                </div>
                <div class="testing-subtitle">IUPR解析</div>
                <div class="testing-content">
                    <div *ngFor="let item of g6Service.iuprOptions">{{item.label}}：{{item.value}}</div>
                </div>
                <div class="testing-subtitle">故障码列表</div>
                <div class="testing-content">
                    <span *ngFor="let item of vehObd.faultCodes">{{item}}，</span>
                </div>
            </div>
        </div>
        <div class="panel testing-g6-4">
            <div class="testing-title">发动机数据</div>
            <div class="testing-content">
                <div class="testing-half">车速：{{vehEng.vehicleSpeed|eng2:1/256:0}}(km/h)</div>
                <div class="testing-half">大气压力：{{vehEng.atmosphericPressure|eng1:0.5:0}}(kPa)</div>
                <div class="testing-half">发动机净输出扭矩：{{vehEng.engineNetoutputTorque|eng1:1:-125}}(%)({{(vehEng.engineNetoutputTorque-125)*0.01*vehInfo.torque|number:'0.1-2'}})</div>

            </div>
            <div echarts [options]="chartOption" (chartInit)="onChartInit($event)" style="width:100%;height:150px;"></div>
        </div>
        <div class="panel testing-g6-5">
            <div class="testing-title">
                <div class="testing-tip">
                    <input type="checkbox" [(ngModel)]="autoLogScroll">
                    <span>自动滚动</span>
                    <span style="text-decoration:underline;cursor:pointer;" (click)="vehLog=[]">清空日志</span>
                    <span>数据条数：{{total}}条</span>
                    <span>数据频率：{{hz}}条/分</span>
                </div>
            </div>
            <div #logWrapper class="testing-fit">
                <div class="testing-content">
                    <div *ngFor="let item of vehLog">
                        [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;<span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                        <div><span [innerHTML]="item.org2"></span> [&nbsp;{{item.msgval.atTime}}&nbsp;]&nbsp;&nbsp;&nbsp;</div>
                    </div>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>