:root {
    --color-blue: #2cd1fa;
    --color-yellow: #e9ad1b;
    --color-red: #d31214;
    --borderColor: #0a3e83;
    --border-tip: #35a9f7;
    --jb1: linear-gradient(to top right, #00538f, #032b59);
    --jb2: linear-gradient(to top, #0c3569, transparent);
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
    color: #fff;
    background: url('./img/bg.png');
}

.block-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
}

.title {
    font-size: 12px;
    font-weight: bold;
    background: url('./img/title.png');
    background-size: 250px 100%;
    background-repeat: no-repeat;
    line-height: 24px;
    text-indent: 10px;
    text-shadow: 0px 0px 10px #fff;
}

.border {
    position: relative;
    border: 1px solid var(--borderColor);
}

.border::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--border-tip);
    border-left: 2px solid var(--border-tip);
}

.border::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--border-tip);
    border-right: 2px solid var(--border-tip);
}

.border1 {
    position: relative;
}

.border2 {
    position: relative;
    border: 1px solid var(--borderColor);
}

.border1::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--border-tip);
    border-left: 2px solid var(--border-tip);
}

.border1::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--border-tip);
    border-right: 2px solid var(--border-tip);
}

.border2::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--border-tip);
    border-left: 2px solid var(--border-tip);
}

.border2::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--border-tip);
    border-right: 2px solid var(--border-tip);
}

.head {
    position: relative;
    height: 60px;
    background: url('./img/bg-head.png');
    background-size: 100% 100%;
    font-size: 12px;
    text-align: center;
}

.head-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
}

.city-and-weather {
    position: absolute;
    top: 30px;
    left: 40px;
}

.date {
    position: absolute;
    top: 30px;
    right: 40px;
}

.left {
    float: left;
    width: 24%;
    height: calc(100% - 70px);
    margin: 0 1%;
}

.left-1 {
    text-align: center;
    margin: 20px 0;
    background: url('./img/cross.png');
    background-size: 100% 100%;
}

.left-1-block {
    display: inline-block;
    width: 40%;
    height: 110px;
    margin: 10px 3%;
    background: url('./img/border1.png');
    background-size: 100% 100%;
}

.left-1-block-num {
    font-size: 24px;
    color: var(--color-blue);
}

.left-1-block-num>span {
    font-size: 12px;
}

.left-1-block-text {
    margin-top: 30px;
    font-size: 14px;
    color: var(--color);
}

.left-2 {
    text-align: center;
}

.left-2-block {
    display: inline-block;
    width: 27%;
    height: 90px;
    margin: 0 1%;
}

.left-2-block-num {
    font-size: 24px;
    color: var(--color-yellow);
}

.left-2-block-num>span {
    font-size: 12px;
}

.left-2-block-text {
    margin-top: 20px;
    font-size: 14px;
    color: var(--color);
}

.left-3 {
    height: calc(100% - 3% - 376px - 40px);
    padding-top: 3%;
}

.left-3-block {
    position: relative;
    height: 25%;
    width: 85%;
    margin: 3% auto;
}

.left-3-block1 {
    background: url('./img/border2-1.png');
    background-size: 100% 100%;
    color: var(--color-blue);
}

.left-3-block2 {
    background: url('./img/border2-2.png');
    background-size: 100% 100%;
    color: var(--color-red);
}

.left-3-block3 {
    background: url('./img/border2-3.png');
    background-size: 100% 100%;
    color: var(--color-blue);
}

.left-3-block-num {
    font-size: 24px;
    float: left;
    margin-left: 30%;
}

.left-3-block-num>span {
    font-size: 12px;
}

.left-3-block-text {
    float: right;
    color: #fff;
    font-size: 14px;
    margin-right: 10%;
    margin-top: 10px;
}

.center {
    float: left;
    width: 48%;
    height: calc(100% - 70px);
}

.center-1 {
    position: relative;
    text-align: center;
}

.center-1-block {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 60px;
    background: url('./img/six.png');
    background-size: 100% 100%;
    margin: 0 4%;
    font-size: 12px;
    color: #aaa;
    z-index: 1;
}

.center-1-block>span {
    margin-top: 15px;
    display: inline-block;
}

.center-1-block-null {
    width: 34px;
    height: 30px;
}

.center-1-block:hover,
.center-1-block-active {
    transform: scale(1.2, 1.2);
    color: #ddd;
    cursor: pointer;
}

.center-1-line {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 0;
    top: 30px;
    border-top: 1px dashed var(--borderColor);
    margin: 0 auto;
    z-index: 0;
}

.center-2 {
    width: 95%;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
}

.center-2-block {
    position: relative;
    display: inline-block;
    width: 17%;
    height: 70px;
    margin: 5px 1%;
    border: 1px solid var(--borderColor);
}

.center-2-block-num {
    font-size: 24px;
    color: var(--color-blue);
}

.center-2-block-num>span {
    font-size: 12px;
}

.center-2-block-text {
    margin-top: 10px;
    font-size: 14px;
    color: var(--color);
}

.center-3 {
    height: calc(100% - 325px);
    width: 95%;
    margin: 0 auto;
}

.center-3-left {
    float: left;
    width: 58%;
    height: 100%;
}

.center-3-right {
    margin-left: 60%;
    height: 100%;
}

#chart1 {
    height: 50%;
}

#chart2 {
    height: 50%;
}

#chart3 {
    height: 50%;
}

.chart4 {
    height: 50%;
    background: url('./img/chart4-bg.png');
    background-size: 200px 160px;
    background-repeat: no-repeat;
    background-position: center 50px;
}

.chart4-title {
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#chart4 {
    width: 200px;
    height: 160px;
    margin: 0 auto;
}

.right {
    height: calc(100% - 70px);
    margin: 0 1%;
    margin-left: 75%;
}