@font-face {
    font-family: 'lcd';
    src: url('./font/lcd.eot');
    src: url('./font/lcd.eot?#iefix') format('embedded-opentype'), url('./font/lcd.woff') format('woff'), url('./font/lcd.ttf') format('truetype'), url('./font/lcd.svg#lcd') format('svg');
}

:root {
    --color-blue: #2cd1fa;
    --color-yellow: #e9ad1b;
    --color-red: #d31214;
    --borderColor: #0a3e83;
    --border-tip: #35a9f7;
    --jb1: linear-gradient(to top right, #00538f, #032b59);
    --jb2: linear-gradient(to top, #0c3569, transparent);
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
    color: #fff;
    background: url('./img/bg.png');
}

.block {
    position: relative;
    display: inline-block;
    height: 110px;
    margin: 0 1%;
    border: 1px solid var(--borderColor);
    background: rgba(10, 62, 131, .2);
}

.block-text {
    margin-top: 30px;
    font-size: 14px;
    color: var(--color);
}

.block-num {
    font-family: 'lcd';
    font-size: 24px;
    color: var(--color-yellow);
}

.block-num>span {
    font-size: 12px;
}

.block-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
}

.title {
    font-size: 12px;
    font-weight: bold;
    background: url('./img/title.png');
    background-size: 250px 100%;
    background-repeat: no-repeat;
    line-height: 24px;
    text-indent: 10px;
    text-shadow: 0px 0px 10px #fff;
}

.border {
    position: relative;
    border: 1px solid var(--borderColor);
}

.border::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--border-tip);
    border-left: 2px solid var(--border-tip);
}

.border::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--border-tip);
    border-right: 2px solid var(--border-tip);
}

.border1 {
    position: relative;
}

.border2 {
    position: relative;
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 100px #0a3e83 inset;
}

.border-shadow {
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 10px;
    background: url(./img/border-shadow.png);
    background-size: 100% 100%;
}

.border1::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--border-tip);
    border-left: 2px solid var(--border-tip);
}

.border1::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--border-tip);
    border-right: 2px solid var(--border-tip);
}

.border2::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--border-tip);
    border-left: 2px solid var(--border-tip);
}

.border2::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--border-tip);
    border-right: 2px solid var(--border-tip);
}

.head {
    position: relative;
    height: 60px;
    background: url('./img/bg-head.png');
    background-size: 100% 100%;
    font-size: 12px;
    text-align: center;
}

.head-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
}

.city-and-weather {
    position: absolute;
    top: 30px;
    left: 40px;
}

.date {
    position: absolute;
    top: 30px;
    right: 90px;
}

.close {
    position: absolute;
    top: 27px;
    right: 47px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.left {
    float: left;
    width: 24%;
    height: calc(100% - 70px);
    margin: 0 1%;
}

.left-1 {
    text-align: center;
    margin: 20px 0;
    background: url('./img/cross.png');
    background-size: 100% 100%;
}

.left-1-block {
    display: inline-block;
    width: 40%;
    height: 110px;
    margin: 10px 3%;
    background: url('./img/border1.png');
    background-size: 100% 100%;
}

.left-2 {
    text-align: center;
}

.left-2-block {
    width: 27%;
}

.left-3 {
    height: calc(100% - 3% - 376px - 40px);
    padding-top: 3%;
}

.left-3-block {
    position: relative;
    height: 25%;
    width: 85%;
    margin: 3% auto;
}

.left-3-block1 {
    background: url('./img/border2-1.png');
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    color: var(--color-blue);
}

.left-3-block2 {
    background: url('./img/border2-2.png');
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    color: var(--color-red);
}

.left-3-block3 {
    background: url('./img/border2-3.png');
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    color: var(--color-blue);
}

.left-3-block-num {
    font-family: 'lcd';
    font-size: 24px;
    float: left;
    margin-left: 30%;
}

.left-3-block-num>span {
    font-size: 12px;
}

.left-3-block-text {
    float: right;
    color: #fff;
    font-size: 14px;
    margin-right: 10%;
    margin-top: 5px;
}

.center {
    float: left;
    width: 48%;
    height: calc(100% - 70px);
}

.center-1 {
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.center-1-block {
    width: 500px;
    background: url('./img/center-bg.png');
    background-size: 100% 100%;
    margin: 0 auto;
}

.center-1-block-item {
    width: 150px;
    display: inline-block;
    cursor: pointer;
}

.center-1-block-item1 {
    margin-right: 26px;
}

.center-1-block-item2 {
    margin-left: 26px;
}

.center-active {
    background: url('./img/center-active.png');
    background-size: 100% 100%;
    line-height: 50px;
}

.center-2 {
    width: 95%;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
}

.center-2-block {
    width: 21%;
    margin: 5px 1%;
}

.center-2-block .block-num {
    color: var(--color-blue);
}

.center-3 {
    height: calc(100% - 535px);
    width: 95%;
    margin: 0 auto;
}

.center-3-left {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.center-3-right {
    position: relative;
    margin-left: 50%;
    height: 100%;
}

.center-3-title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.center-3-title>div:last-child {
    font-size: 20px;
}

.center-3-title>div:last-child>span {
    font-size: 26px;
    font-family: 'lcd';
}

.center-3-title>div:last-child>span:first-child {
    color: var(--color-blue);
}

.center-3-title>div:last-child>label {
    position: relative;
    top: -3px;
    left: 3px;
}

#chart1,
#chart2 {
    height: calc(50% - 20px);
}

#chart3 {
    height: 260px;
}

#chart4 {
    width: 340px;
    height: 260px;
    margin: 0 auto;
    background: url('./img/chart4-bg.png');
    background-size: 100% 100%;
    background-position: center;
}

#chart5 {
    height: 200px;
    margin-top: 80px;
}

.right {
    height: calc(100% - 70px);
    margin: 0 1%;
    margin-left: 75%;
}

.right-1 {
    text-align: center;
    margin: 20px 0;
    background: url('./img/shadow.png');
    background-size: 80% 80%;
    background-position: center 0;
    background-repeat: no-repeat;
}

.right-1-block {
    width: 28%;
}

.right-2 {
    height: calc(100% - 480px);
    width: 95%;
    margin: 0 auto;
}

.right2-title {
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    text-shadow: 0px 0px 10px #fff;
    background: url('./img/right-title.png');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: center;
}