:root {
    --bgColor: #031f3e;
    --color: #29e2f7;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    background: var(--bgColor);
}

.left {
    float: left;
    width: 70%;
    height: 100%;
}

.right {
    margin-left: 70%;
    height: 100%;
    padding-right: 40px;
}

.left-top {
    height: 80px;
    padding-top: 40px;
    text-align: center;
}

.left-top-block {
    display: inline-block;
    width: 25%;
    margin-right: 5%;
    height: 80px;
    border: 1px solid var(--color);
    border-radius: 5px;
}

.left-top-block-left {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 75px;
    color: var(--color);
    border-right: 1px solid var(--color);
}

.left-top-block-right {
    margin-left: 80px;
    text-align: left;
    padding: 8px 0 0 15px;
    line-height: 30px;
}

.left-top-block-right>div:first-child {
    font-size: 14px;
}

.left-top-block-right>div:last-child {
    font-size: 24px;
}

#bar {
    float: left;
    width: 25%;
    height: calc(100% - 80px - 40px);
}

#map {
    height: calc(100% - 80px - 40px);
    margin-left: 25%;
}

#line {
    width: 100%;
    height: calc(100% - 40px);
}

.title {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: var(--color);
    border-bottom: 1px solid var(--color);
    line-height: 40px;
    padding-left: 20px;
}

.title::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 20px;
    background-color: var(--color);
}

.right-1 {
    height: 230px;
    padding-top: 40px;
}

.right-2 {
    height: calc(100% - 230px - 230px - 40px - 40px);
}

.right-3 {
    height: 230px;
}

.right-tab-title {
    margin: 10px 0;
}

.right-tab-title>div {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid var(--color);
    box-shadow: 0 0 10px var(--color) inset;
    cursor: pointer;
}

.right-tab-title-active {
    background-color: var(--color);
    opacity: .8;
}

.right-1-block-wrapper {
    padding: 20px 0;
}

.right-1-block {
    display: inline-block;
    padding: 20px 0;
    width: 30%;
    border: 3px solid var(--color);
    border-radius: 100px;
    box-shadow: 0 0 30px var(--color) inset;
    text-align: center;
}

.right-1-block-num {
    font-size: 24px;
}

.right-1-block-text {
    font-size: 14px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px;
}

.table>tbody>tr {
    border-bottom: 1px solid var(--color);
}

.table th {
    text-align: left;
    color: var(--color);
}